#incredients{
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    
}
#column1{
    width: 300px;height: 250px;
    
}
#column2{
    width: 300px;height: 250px;
}
#incredients:hover{
                    font-size:large;
                    color:rgb(255, 0, 0);
                     font-weight: bold;
}
#youtube{
    display: flex;
    justify-content: space-around;
}
h1{
text-align: center;color: red;background-color: rgb(255, 246, 127);
 border-radius: 40%; }
 body{
margin-left:50px ;margin-right: 50px; margin-top: 50px; margin-bottom: 50px; 
background-color: darkgray;
 }
 h2{text-align: center;}
 #contact{
    display: flex;
    justify-content: space-around;
 }
 
 ol:hover{
  font-weight: bold;  
  color: darkblue;
 }
 
